:root {
  --accent-font-family: "Monoton", cursive;
  --paragrapgh-font-family: "News Cycle", sans-serif;
  --secondary-font: "Luckiest Guy", cursive;
  --primary-color: aquamarine;
}

.intro-layout {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 40px;
}

h1 {
  font-size: 89px;
  font-family: var(--accent-font-family);
  text-align: center;
  color: aquamarine;
}
h2 {
  font-size: 28px;
  font-family: var(--secondary-font);
  padding-top: 38px;
}
h3 {
  font-size: 16px;
  font-family: var(--paragrapgh-font-family);
  line-height: 1.5;
  padding: 20px 140px;
}
.btn-connect {
  padding: 12px;
  margin: 26px;
  font-family: "Luckiest Guy", cursive;
  border-radius: 8px;
  color: white;
  background-color: black;
  border: 3px dotted var(--primary-color);
}
.btn-connect:hover {
  border: 5px dotted white;
  color: var(--primary-color);
  border-radius: 8px;
  text-decoration: underline;
  background-color: black;
  transition: all;
}

.icons {
  text-align: center;
  font-size: 24px;
}
.fa-brands {
  color: black;
}
